# Python
__pycache__/
*.pyc
.env
venv/
env/

# Node.js
node_modules/
package-lock.json
.npm
npm-debug.log*
yarn-error.log

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/

# Logs
*.log
